@media (max-width: 1440px) {
    .contactUsComponent {
        gap: 140px;
    }
}

@media (max-width: 1366px) {
    .contactUsComponent {
        gap: 20px;
    }

    footer .contactUsBg {
        padding-inline: 40px;
    }

    .contactDetailsMargin {
        gap: 60px 25px;
    }

    .contactUsComponentL a,
    .contactUsComponentL p {
        font-size: 13px;
    }
}

@media (max-width: 1199px) {
    .heroSection:after {
        width: 75%;
    }

    .hero-content p {
        max-width: 50%;
    }
}

@media (max-width: 991px) {
    .contactUsComponent {
        grid-template-columns: 1fr;
    }

    .footerDesc p {
        max-width: 85%;
    }

    .hero-content img {
        width: 350px;
    }

    .hero-content p {
        padding: 40px 0 0;
    }

    .aboutUsNaub {
        gap: 30px;
    }

    .paraGroup {
        max-width: 100%;
    }

    .gridVenueInn,
    .vanueGridMain {
        gap: 10px;
    }

    .gridVenueInnMar {
        margin-bottom: 10px;
    }

    .vanueGridMain {
        grid-template-columns: 1fr 170px;
    }

    .addtessWithFormParent.grid.grid-cols-2.relative {
        gap: 80px;
    }
}

@media (max-width: 767px) {

    .vanueGridMain {
        grid-template-columns: 1fr;
        margin: 16px 0 30px;
    }

    .addtessWithFormParent.grid.grid-cols-2.relative {
        grid-template-columns: 1fr;
    }

    .addtessWithForm:after {
        width: 80%;
        height: 1px;
    }

    .addtessWithForm {
        padding: 55px 40px 100px;
    }

    .addtessWithFormParent.grid.grid-cols-2.relative {
        padding: 0;
    }

    .address:last-child {
        margin-top: 40px;
    }

    .vanueGridMain {
        padding-inline: 15px;
    }

    .gridVenueInn,
    .vanueGridMain {
        gap: 7px;
    }

    .gridVenueInnMar {
        margin-bottom: 7px;
    }

    .aboutUsNau img.h-full {
        height: 132px;
    }

    .pageBannerPadding .gridVenueInn img {
        height: 80px;
    }

    footer .contactUsBg {
        padding: 50px 40px;
    }

    .contactDetailsMargin {
        margin: 40px 0 30px;
        grid-template-columns: 1fr;
        gap: 30px;

        .col-span-2 {
            grid-column: unset;
        }
    }

    .contactUsComponentL h4 {
        font-size: 50px;
        line-height: 50px;
    }

    .mainFooter {
        flex-direction: column;
        padding: 40px;
    }

    .footerQuickLinks {
        justify-content: start;
        border-bottom: 1px solid #fff;
        border-right: 0;
        padding-bottom: 40px;
    }

    .footerLogo {
        justify-content: start;
        padding: 30px 0 20px;
    }

    .mainFooterParent {
        padding: 0;
    }

    .footerDesc p {
        max-width: 100%;
    }

    .heroSection:after {
        width: 109%;
        height: 89%;
        background: linear-gradient(179deg, #831b37 70.47%, #6d122500 100%);
    }

    .hero-content {
        left: 34px;
        top: 113px;
        bottom: unset;
    }

    .hero-content img {
        width: 249px;
    }

    .hero-content p {
        max-width: 79%;
        font-family: Gilroy-Light;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
    }

    .heroImage {
        height: 464px;
    }

    .websiteNavbar {
        padding: 34px;
    }

    .websiteNavbar .button {
        display: none;
    }

    .heroOverlay {
        height: 229px;
    }

    .aboutUsNaub {
        gap: 0;
        padding: 60px 30px 30px;
        grid-template-columns: 1fr;
        position: relative;
    }

    .aboutUsNaub .aboutUsNaubR img {
        height: 299px;
        object-fit: contain;
        width: 100%;
    }

    .title {
        font-family: 'Cormorant Garamond';
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        line-height: 60.55px;
    }

    .aboutUsNaubR {
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }

    .paraGroup {
        margin-top: 330px;
    }

    .testimonialMain .swiper-slide .sliderInner {
        max-width: 100%;
    }

    .testimonialMain .swiper-slide img {
        display: none;
    }

    .testimonialMain {
        padding: 30px;
    }

    .testimonialMain .swiper-slide p {
        line-height: 19.41px;
        font-size: 16px;
        margin: 40px 0 170px;
    }

    .testimonialMain .swiper-slide {
        margin: 0;
        padding-bottom: 50px;
    }

    .testimonialMain .swiper-slide h2 {
        font-size: 20px;
        line-height: 24.5px;
        letter-spacing: 0.11em;
    }

    .testimonialMain .swiper-slide span {
        font-size: 14px;
        line-height: 16.8px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 20px;
    }

    .testimonialMain .swiper-button-prev,
    .testimonialMain .swiper-button-next {
        bottom: 67px;
    }

    .pageBannerPadding {
        padding: 0 30px 0;
    }

    .pageBannerPadding img {
        height: 195px;
        object-fit: cover;
        border-radius: 20px;
    }

    .pageBanner .pageBannerInfo {
        padding: 0 20px;
        left: 0;
    }

    .pageBanner .pageBannerInfo h2 {
        font-size: 40px;
        line-height: 48.44px;
    }

    .pageBanner .pageBannerInfo p {
        max-width: 100%;
        font-size: 12px;
        line-height: 14.4px;
    }

    .pageBanner:after {
        width: 100%;
    }
}