@media (max-width: 1440px) {
    .contactUsComponent {
        gap: 140px;
    }
}

@media (max-width: 1366px) {
    .contactUsComponent {
        gap: 20px;
    }

    footer .contactUsBg {
        padding-inline: 40px;
    }

    .contactDetailsMargin {
        gap: 60px 25px;
    }

    .contactUsComponentL a,
    .contactUsComponentL p {
        font-size: 13px;
    }
}

@media (max-width: 1199px) {
    .heroSection:after {
        width: 75%;
    }

    .hero-content p {
        max-width: 50%;
    }

    .contactUsPage {
        padding: 40px 20px;
    }

    .grid-container {
        grid-template-columns: 150px 1fr 150px;
    }
}

@media (max-width: 991px) {
    .contactUsComponent {
        grid-template-columns: 1fr;
    }

    .footerDesc p {
        max-width: 85%;
    }

    .hero-content img {
        width: 350px;
    }

    .hero-content p {
        padding: 40px 0 0;
    }

    .aboutUsNaub {
        gap: 30px;
    }

    .paraGroup {
        max-width: 100%;
    }

    .gridVenueInn,
    .vanueGridMain {
        gap: 10px;
    }

    .gridVenueInnMar {
        margin-bottom: 10px;
    }

    .vanueGridMain {
        grid-template-columns: 1fr 170px;
    }

    .addtessWithFormParent.grid.grid-cols-2.relative {
        gap: 80px;
    }

    .grid-container {
        display: none;
    }

    .grid-container-mobile {
        display: block;
    }

    .grid-container-mobile-inn {
        display: grid;
        grid-template-columns: 1fr 100px;
        gap: 10px;

        img {
            height: 265.86px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .grid-container-mobile-inn:nth-child(2) {
        grid-template-columns: 100px 1fr;
        margin-top: 10px;
    }

    .grid-container-inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;

        img {
            height: 127.06px;
            object-fit: cover;
        }
    }
}

@media (max-width: 767px) {

    .vanueGridMain {
        grid-template-columns: 1fr;
        margin: 16px 0 30px;
    }

    .addtessWithFormParent.grid.grid-cols-2.relative {
        grid-template-columns: 1fr;
    }

    .contactUsComponentR iframe {
        max-width: 100%;
        height: 205px;
    }

    .addtessWithForm:after {
        width: 80%;
        height: 1px;
        bottom: 27px;
        display: none;
    }

    .addtessWithForm {
        padding: 55px 43px 100px;
    }

    .addtessWithFormParent.grid.grid-cols-2.relative {
        padding: 0;
    }

    .address:last-child {
        margin-top: 40px;
    }

    .galleryPage {
        padding: 30px 0 46px;
    }

    .vanueGridMain {
        padding-inline: 15px;
    }

    .contactUsComponent {
        gap: 40px;
    }

    .gridVenueInn,
    .vanueGridMain {
        gap: 7px;
    }

    .gridVenueInnMar {
        margin-bottom: 7px;
    }

    .aboutUsNau img.h-full {
        height: 132px;
    }

    .pageBannerPadding .gridVenueInn img {
        height: 80px;
    }

    footer .contactUsBg {
        padding: 50px 40px;
    }

    .contactDetailsMargin {
        margin: 40px 0 30px;
        grid-template-columns: 1fr;
        gap: 30px;

        .col-span-2 {
            grid-column: unset;
        }
    }

    .contactUsComponentL h4 {
        font-size: 50px;
        line-height: 50px;
    }

    .mainFooter {
        flex-direction: column;
        padding: 48px 40px 70px;
    }

    .footerQuickLinks {
        justify-content: start;
        border-bottom: 1px solid #fff;
        border-right: 0;
        padding-bottom: 40px;
    }

    .footerLogo {
        justify-content: start;
        padding: 30px 0 20px;
    }

    .mainFooterParent {
        padding: 0;
    }

    .footerDesc p {
        max-width: 100%;
    }

    .heroSection:after {
        width: 109%;
        height: 513px;
        background: linear-gradient(179deg, #831b37 70.47%, #6d122500 100%);
    }

    .hero-content {
        left: 34px;
        top: 120px;
        bottom: unset;
    }

    .hero-content img {
        width: 249px;
    }

    .hero-content p {
        max-width: 79%;
        font-family: Gilroy-Light;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
    }

    .heroImage {
        height: 464px;
        margin-top: 300px;
        object-fit: cover;
    }

    .websiteNavbar {
        padding: 20px 34px 0;
    }

    .websiteNavbar .button {
        display: none;
    }

    .aboutUsNaub::before,
    .aboutUsNaub::after {
        height: 50px;
    }

    .aboutUsNaub::before {
        top: -50px;
    }

    .heroOverlay {
        height: 229px;
    }

    #navbar-sticky.notactive {
        opacity: 0;
        height: 0;
        transition: .5s all;
    }

    #navbar-sticky.active {
        opacity: 1;
        transition: .5s all;
        height: 110px;
    }

    .aboutUsNaub {
        gap: 0;
        padding: 60px 30px 47px;
        grid-template-columns: 1fr;
        position: relative;
    }

    .aboutUsNaub .aboutUsNaubR img {
        height: 299px;
        object-fit: contain;
        width: 100%;
    }

    .title {
        /* font-family: 'Cormorant Garamond'; */
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        line-height: 42.55px;
    }

    .aboutUsNaubR {
        position: absolute;
        top: 135px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }

    .paraGroup {
        margin-top: 340px;
    }

    .testimonialMain .swiper-slide .sliderInner {
        max-width: 100%;
    }

    .paraGroup p:nth-child(3) {
        margin-bottom: 30px;
    }

    .testimonialMain .swiper-slide img {
        display: none;
    }

    .testimonialMain {
        padding: 50px 54px 40px;
    }

    .testimonialMain .swiper-slide p {
        line-height: 19.41px;
        font-size: 16px;
        margin: 40px 0 177px;
    }

    .testimonialMain .swiper-slide {
        margin: 0;
        padding-bottom: 50px;
        padding-bottom: 72px;
    }

    .testimonialMain .swiper-slide h2 {
        font-size: 20px;
        line-height: 24.5px;
        letter-spacing: 0.11em;
    }

    .testimonialMain .swiper-slide span {
        font-size: 14px;
        line-height: 16.8px;
    }

    .testimonialMain .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .testimonialMain .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }

    .testimonialMain .swiper-button-prev:after,
    .testimonialMain .swiper-button-next:after {
        font-size: 20px;
    }

    .testimonialMain .swiper-button-prev,
    .testimonialMain .swiper-button-next {
        bottom: 87px;
    }

    .pageBannerPadding {
        padding: 30px 30px 0;
    }

    .pageBannerPadding img {
        height: 195px;
        object-fit: cover;
        border-radius: 10px;
    }

    .pageBanner .pageBannerInfo {
        padding: 0 23px;
        left: 0;
    }

    .pageBanner .pageBannerInfo h2 {
        font-size: 40px;
        line-height: 48.44px;
    }

    .pageBanner .pageBannerInfo p {
        max-width: 100%;
        font-size: 12px;
        line-height: 14.4px;
    }

    .pageBanner:after {
        width: 100%;
    }

    div#navbar-sticky {
        background: #fff;
        border-radius: 8px;
        margin-top: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: absolute;
        top: 75px;
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 20;
    }

    .websiteNavbar.absolute ul li a,
    .websiteNavbar ul li a {
        color: #000000;
        padding: 10px 20px;
        display: inline-block;
    }

    .navOnMob {
        gap: 0;
    }

    .websiteNavbar button:focus,
    .websiteNavbar button {
        outline: none;
        border: none;
    }

    .galleryTabs ul li button img {
        height: 24px;
    }

    .galleryTabs .gallery-tab-content {
        padding: 30px 0 70px;
    }

    .galleryTabs .swiper-button-prev,
    .galleryTabs .swiper-button-next {
        display: none;
    }

    .contactUsPage {
        padding: 40px 0;
    }

    .contactUsPage .contactUsComponentL a img {
        height: 24px;
    }

    .placeHolder {
        width: 100%;
        height: 205px;
        margin-top: 20px;
    }

    .socialIcon {
        margin-top: 3px;
    }
}