@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@import '../public/reset.css';

@font-face {
  font-family: Gilroy-Light;
  src: url('../public/font/Gilroy-Light.ttf');
}

@font-face {
  font-family: Gilroy-Bold;
  src: url('../public/font/Gilroy-Bold.ttf');
}

@font-face {
  font-family: Gilroy-Heavy;
  src: url('../public/font/Gilroy-Heavy.ttf');
}

@font-face {
  font-family: Gilroy-Medium;
  src: url('../public/font/Gilroy-Medium.ttf');
}

@font-face {
  font-family: Gilroy-Regular;
  src: url('../public/font/Gilroy-Regular.ttf');
}

@font-face {
  font-family: Gilroy-Semibold;
  src: url('../public/font/Gilroy-SemiBold.ttf');
}


:root {
  --primary-clr: #831B37;
  --golden-clr: #DDB53C;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
}

.button {
  font-family: Gilroy-Medium;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  text-align: center;
  padding: 10px 28px;
  border-radius: 4px;
  outline: none;
  transition: .4s all cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.button.btn-golden {
  color: var(--golden-clr);
  border: 1px solid var(--golden-clr);
  padding: 10px 20px;
}

.button.btn-golden:hover {
  background: var(--golden-clr);
  color: #fff;
}

.websiteNavbar.absolute .button:hover,
.button.btn-maroon:hover,
.button:hover {
  background: var(--primary-clr);
  border: 1px solid var(--primary-clr);
  color: #fff;
}

.button.btn-maroon {
  border: 1px solid var(--primary-clr);
  color: var(--primary-clr);
  background: transparent;
}

.b-white {
  color: #fff;
  border: 1px solid #ffff;
}

.b-black {
  color: #000;
  border: 1px solid #000f;
}

.websiteNavbar {
  padding: 30px 70px;
  /* position: absolute; */
}

.websiteNavbar.absolute ul li a {
  color: #fff;
}

.websiteNavbar ul li a {
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #000;
}

.websiteNavbar ul li a.active {
  color: #831B37;
  font-family: Gilroy-SemiBold;
}

.websiteNavbar ul li a.homeactive {
  font-family: Gilroy-SemiBold;
  color: #DDB53C;
}

.websiteNavbar.absolute .button {
  color: #fff;
  border: 1px solid #fff;
}

footer .contactUsBg {
  background: #651127;
  padding: 80px 131px 103px 107px;
}

.placeHolder {
  /* max-width: 548px;
  max-height: 496px; */
  width: 548px;
  height: 496px;
  border-radius: 20px;
  background: #D9D9D9;
}

.contactUsComponentL h4 {
  font-family: "Cormorant Garamond";
  font-weight: 400;
  font-size: 80px;
  line-height: 96.88px;
  color: #2C2B2B;
}

.contactUsBg .contactUsComponentL a,
.contactUsBg .contactUsComponentL p,
.contactUsBg .contactUsComponentL span,
.contactUsBg .contactUsComponentL h4 {
  color: #fff;
}

.contactUsComponentL span {
  font-family: Gilroy-Light;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.14em;
  color: #2C2B2B;
  display: block;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.contactUsComponentL a,
.contactUsComponentL p {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  color: #2C2B2B;
}

.contactUsComponentR iframe {
  border-radius: 20px;
}

.contactDetailsMargin {
  margin: 100px 0 64px;
}

.contactUsComponentL p {
  margin-bottom: 10px;
}

.flexFull {
  width: 100%;
}

.mainFooterParent {
  padding: 45px 0 60px;
}

.footerDesc p {
  font-family: Gilroy-Light;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: justify;
  color: #Fff;
  margin-bottom: 28px;
  max-width: 65%;
}

.footerQuickLinks a {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  /* margin-bottom: 20px;
  display: inline-block; */
}

.footerQuickLinks {
  border-right: 1px solid #fff;
}

/* Home Banner Css */
.heroSection {
  overflow: hidden;
}

.heroSection::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 58%;
  height: 100%;
  background: linear-gradient(90deg, #831B37 70.47%, rgba(109, 18, 37, 0) 100%);
  z-index: 2;
}

.heroImage {
  margin-left: auto;
}

.hero-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: min-content;
  left: 70px;
  margin: auto;
  z-index: 3;
}

.hero-content p {
  font-family: Gilroy-Light;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: justify;
  max-width: 35%;
  color: #fff;
  padding: 60px 0 0 44px;
}

.heroOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  margin: auto;
  object-fit: cover;
}

/* Home Banner Css */


/* About Us Css */

.aboutUsNaub {
  align-items: center;
  padding: 60px;
  position: relative;
}

.aboutUsNaub::before,
.aboutUsNaub::after {
  content: '';
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  margin: auto;
  width: 1.25px;
  height: 70px;
  background: #fff;
}

.aboutUsNaub::after {
  top: 0;
  background: #282828;
}

.title {
  font-family: 'Cormorant Garamond';
  font-size: 80px;
  font-weight: 400;
  line-height: 96.88px;
  color: #651127;
}

.paraGroup {
  margin-top: 40px;
  max-width: 90%;
}

.paraGroup p {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  text-align: justify;
  color: #282828;
  margin-bottom: 20px;
}

.inageGrid .button {
  margin: 30px auto 0;
}

/* About Us Css */

/* Testimonials Css */
.testimonialMain {
  padding: 60px;
  text-align: center;

  .swiper-pagination-bullet {
    width: 22px;
    height: 5px;
    background: #D9D9D9;
    border-radius: 0;
    transition: .5s all cubic-bezier(0.86, 0, 0.07, 1);
    margin: 0 !important;
  }

  .swiper-pagination-bullet:first-child {
    border-radius: 12px 0 0 12px;
  }

  .swiper-pagination-bullet:last-child {
    border-radius: 0 12px 12px 0;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--primary-clr);
    border-radius: 12px;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: #CDCDCD;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: unset;
    bottom: 107px;
  }

  .swiper-slide {
    margin-top: 60px;
    padding-bottom: 100px;

    .sliderInner {
      max-width: 60%;
      margin: auto;
    }

    p {
      font-family: Gilroy-Medium;
      font-size: 24px;
      font-weight: 400;
      line-height: 29.11px;
      text-align: center;
      color: #000;
      margin: 24px 0 50px;
    }

    img {
      margin: auto;
    }

    h2 {
      font-family: Gilroy-SemiBold;
      font-size: 30px;
      font-weight: 400;
      line-height: 36.75px;
      letter-spacing: 0.11em;
      text-align: center;
      margin: 0 0 8px;
    }

    span {
      font-family: Gilroy-Light;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      color: #000;
    }
  }
}

/* Testimonials Css */

/* Banner Css */

.pageBanner {
  /* transform: scaleY(1.4); */
  /* transform: scaleY(1.5) scaleX(1.085); */
}

.pageBannerPadding {
  padding: 0 60px 0;
}

.pageBanner img {
  height: 478px;
  object-fit: cover;
  border-radius: 20px;
}

.pageBanner .pageBannerInfo {
  position: absolute;
  left: 65px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  z-index: 3;
}

.pageBanner .pageBannerInfo h2 {
  font-family: 'Cormorant Garamond';
  font-size: 80px;
  font-weight: 400;
  color: #Fff;
  line-height: 96.88px;
  margin-bottom: 8px;
}

.pageBanner .pageBannerInfo p {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: justify;
  color: #fff;
  max-width: 40%;
}

.pageBanner::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(90deg, #831B37 0%, rgba(109, 18, 37, 0) 100%);
  z-index: 2;
  border-radius: 20px;
}

/* Banner Css */

/* Venue Grid */
.vanueGridMain {
  display: grid;
  grid-template-columns: 1fr 357px;
  gap: 26px;
  margin: 30px 0;
  padding-inline: calc(116px - 60px);

  img {
    border-radius: 10px;
  }
}

.gridVenueInn {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 26px;

  img {
    height: 220px;
    object-fit: cover;
  }
}

.gridVenueInn.gridVenueInnMar {
  grid-template-columns: 2fr 1fr;
}

.gridVenueInnMar {
  margin-bottom: 26px;
}

/* Venue Grid */

/* Address Css */
.addtessWithForm {
  padding: 46px 123px 100px;
  background: #F8F8F8;
}

.addtessWithForm::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 80%;
  inset: 0;
  margin: auto;
  background: #CDCDCD;
  z-index: 2;
}

.address:last-child {
  margin-top: 54px;
}

.address h4 {
  font-family: Gilroy-SemiBold;
  font-size: 30px;
  font-weight: 400;
  line-height: 36.75px;
  letter-spacing: 0.11em;
  color: #000000;
}

.address p {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  color: #000000;
  margin: 10px 0 18px;
}

/* Address Css */

/* Form Css */

.error {
  color: red;
  font-size: 10px;
  font-weight: 700;
  font-family: Gilroy-SemiBold;
  margin-top: 4px;
  display: inline-block;
  position: absolute;
  left: 4px;
  bottom: -14px;
}

form {
  display: grid;
  gap: 20px;
}

form textarea,
form input {
  background: #FFFFFF;
  border-radius: 6px;
  outline: none;
  padding: 10px 14px;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  color: #A4A4A4;
  width: 100%;
}

form textarea {
  height: 104px;
  resize: none;
}

.addtessWithFormParent.grid.grid-cols-2.relative {
  gap: 230px;
  padding: calc(98px - 46px) 0;
}

/* Form Css */

/* Gallery Tabs Css */
.galleryPage {
  padding: 40px 0 56px;
}

.galleryTabs ul {
  width: fit-content;
  margin: auto;
  background: #ededed;
  border-radius: 10px;
  position: relative;
}

.galleryTabs ul::before {
  content: '';
  position: absolute;
  width: 50%;
  /* height: calc(100% - 10px); */
  height: 100%;
  background: var(--primary-clr);
  border-radius: 8px;
  transition: transform 0.3s ease;
  top: 0;
  left: 0;
  z-index: 0;
}

.galleryTabs ul li button {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  color: #282828;
  outline: none;
  cursor: pointer;
  padding: 11px 25px;
  background: transparent;
  border: none;
  display: flex;
  gap: 6px;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
  width: 100%;
  justify-content: center;
}

.galleryTabs ul li {
  width: 50%;
  position: relative;
}

.galleryTabs ul li button.active {
  color: #fff;
}

.galleryTabs ul li button.videoButton.active~li button.videoButton {
  color: #fff;
}

.galleryTabs ul li button.videoButton.active {
  color: #fff;
}

.galleryTabs ul:has(.videoButton.active)::before {
  transform: translateX(100%);
}

/* .galleryTabs ul li button.active {
  background: var(--primary-clr);
  color: #fff;
  position: relative;
} */

.galleryTabs ul li button img {
  filter: brightness(1) invert(0);
}

.galleryTabs ul li button.active img {
  filter: brightness(1) invert(1);
  transition: .05s all;
}

.galleryTabs .gallery-tab-content {
  position: relative;
  padding: 40px calc(147px - 60px) 56px;
}

.galleryTabs .swiper.swiper-initialized {
  /* padding: 0 calc(147px - 60px) 0; */
  position: unset;
}

.galleryTabs .swiper-pagination span {
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  padding: 12px 7px;
  border-radius: 6px;
  background: transparent;
  color: #2C2B2B;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 36px;
}

.galleryTabs .swiper-pagination span.swiper-pagination-bullet-active {
  color: #831B37;
  background: #EDEDED;
}

/* .galleryTabs .swiper-wrapper {
  overflow: hidden;
} */

.galleryTabs .swiper-button-prev:after,
.galleryTabs .swiper-button-next:after {
  color: var(--primary-clr);
}

/* Gallery Tabs Css */

/* Contact Us */
.contactUsPage {
  padding: 40px calc(130px - 60px);
}

.contactUsPage .contactUsComponent {
  align-items: center;
}

.contactUsPage .contactDetailsMargin {
  margin-top: 0;
}

.contactUsPage .contactUsComponentL h4 {
  display: none;
}

.contactUsPage .contactUsComponentL a img {
  filter: brightness(1) invert(1);
}

/* Contact Us */



.imgVidGrp video,
.imgVidGrp img {
  height: 222.57px;
  border-radius: 10px;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 294.79px 1fr 294.79px;
  gap: 22px;

  img {
    object-fit: cover;
    height: 447px;
    border-radius: 16px;
  }
}

.grid-container-inner {
  display: grid;
  grid-template-columns: 1fr 223.93px;
  gap: 22px;
  margin-bottom: 19px;

  img {
    height: 214px;
  }
}

.grid-container-inner:nth-child(2) {
  grid-template-columns: 223.93px 1fr;
}

.grid-container-mobile {
  display: none;
}

.__react_modal_image__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

#navbar-sticky.notactive {
  opacity: 0;
  height: 0;
  transition: .5s all;
}

#navbar-sticky.active {
  opacity: 1;
  transition: .5s all;
  height: 110px;
}